footer {
  .social-links {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    i {
      height: 30px;
      width: 30px;
    }
  }
  // @include grid-container;
  p {
    // @include grid-column(6);
    font-size: 8px;
  }

}
