footer {
  background-color: $main-dark;
  margin-top: 10px;
  color: $main-light;
  clear: both;
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;

  .social-links {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 40px;
    width: 100%;
    padding: 5px 0;
    i {
      font-size: 30px;
      color: $main-light;
    }
  }
  // @include grid-container;
  p {
    // @include grid-column(6);
    font-size: 8px;
    color: $main-light;
  }
  // .copyright {
  //   @include grid-column();
  //   border: 1px solid red;
  //    & > a {
  //     color: $main-light;
  //   }
  // }
}
