header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $main-dark;
  .text {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    h1 {
      font-size: 46px;
      width: 100%;
      text-align: center;
      flex-shrink: 0;
    }
    h2 {
      font-family: $text-font;
      font-size: 24px;
    }
    @media #{$bp-1} {
      h1 {
        font-size: 80px;
      }
      h2 {
        font-size: 40px;
      }
    }
    @media #{$bp-3} {
      h1 {
        font-size: 120px;
      }
      h2 {
        font-size: 60px;
      }
    }
  }
}
