#positioner {
  display: block;
  max-width: 1600px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto $footer-height auto;
}

main {
  display:flex;
  justify-content: space-around;
  // justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: $footer-height;
  @include grid-media($desktop-grid) {
    @include grid-column (4, $desktop-grid);

  }
}

.project-object:last-of-type {
  margin-bottom: 10px;
  clear: both;
}

.last-row-fix {
  height: 0;
  flex-basis: 300px;
  flex-grow: 1;
  margin: 0 10px;
}
