.project-object {
  position: relative;
  display: flex;
  flex-basis: 300px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid $main-dark;
  padding: 2px;
  margin: 10px;
  overflow: hidden;
  // max-width: 600px;
  // & > a {
  //
  // }
  img {
    // max-width: 100%;
    transition: all 0.3s;
    object-fit: cover;
  }
  &:hover img {
    background-color: red;
    transform: scale(1.1);
  }
  figcaption {
    @include size(100% 2em);
    // width: 100%;
    // height: 2em;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba($main-dark, 0.8);
    color: $main-light;
    i {
      color: $main-light;
      font-size: 30px;
    }
  }
}
